<h1>
  Name: <%= @pirate.name %> <br>
  Height: <%= @pirate.height %> <br>
  Name: <%= @pirate.weight %> <br>
</h1>

<% @ships.each do |s| %>
<h2>
    Ship Name: <%= s.name %><br>
    Type: <%= s.type %><br>
    Booty: <%= s.booty %><br>
 </h2>
<%end%>
